:root {
    --iris: #4D5AE5;
    --navy-blue: #2E2F42;
    --slate: #434455;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --white: #FFFFFF;
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--navy-blue);
}
 
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, 
h2, 
h3, 
p {
    margin: 0;
}

img {
    display: block;
}

.container {

    width: 1158px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-menu {
    display: flex;

    font-weight: 500;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo {
    margin-right: 77px;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--iris);
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 0.03em;
}

.logo-second-part {
    color: var(--navy-blue);
}

.contacts {
    display: flex;
    gap: 40px;
    color: var(--slate);
}

.nav-list-item {
    padding-top: 24px;
    padding-bottom: 24px;
}

.products-header {
    margin-bottom: 72px;

    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}

.products-images {
    display: flex;
    gap: 24px;
}

.team-members-header {
    margin-bottom: 72px;

    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}

.feature-header {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.employee-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

a, button {
    font-family: inherit;
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}

button {
    font-weight: 500;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.nav-studio:hover, .nav-studio:focus,
.nav-portfolio:hover, .nav-portfolio:focus,
.nav-contacts:hover, .nav-contacts:focus {
    color: var(--slate);
}

.nav-studio:active, .nav-portfolio:active, .nav-contacts:active {
    color: var(--iris);
}

.email:hover, .email:focus,
.number:hover, .number:focus {
    color: var(--iris);
}

.solutions {
    margin: 0;

    font-size: 56px;    
    font-weight: 500;    
    line-height: 1.07;
    text-align: center;
    color: var(--white);    
}

.solutions-button {
    display: block;
    padding: 16px 32px;
    width: fit-content;
    

    line-height: 1.17;
    color: var(--white);
    background: var(--iris);
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.solutions-button:hover, .solutions-button:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.solutions-button:active {
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section:first-child {
    display: flex;
    padding-top: 192px;
    padding-bottom: 192px;
    gap: 48px;

    justify-content: center;
    flex-direction: column;
    align-items: center;


    background-color: var(--navy-blue);
}

.section:nth-child(3) {
    padding-top: 0;
}

.advantages-list {
    display: flex;
    gap: 24px;
}

.feature {
    flex-basis: calc((100%-24px*3)/4);
}

.section:nth-child(4) {
    background-color: var(--cloud);
}

.team-cards {
    display: flex;
    gap: 24px;
}

.card {
    flex-basis: calc((100%-24px*3)/4);
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 32px 16px;
}

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--navy-blue);
}

.footer-content {
    display: flex;
    gap: 16px;
    flex-direction: column;

}

.footer-logo {
    padding: 0;
}

.footer-text {
    color: var(--cornflower);
}

.footer-logo-second-part {
    color: var(--cloud);
}

/* portfolio */

.header {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-portfolio-projects {
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding-top: 96px;
    padding-bottom: 120px;

}

.portfolio-buttons-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.portfolio-button-button {
    padding: 8px 16px;
    color: var(--iris);
    background-color: var(--cloud);
    border: 1px solid var(--cornflower);
    border-radius: 4px;
}

.portfolio-button-button:hover, .portfolio-button-button:focus {
    color: var(--white);
    background: var(--iris);
    border: 1px solid var(--iris);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-projects-rows {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.card-content{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 32px 16px;
}

.card-content-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.project-card {
    flex-basis: auto;
    background-color: var(--white);
    border-bottom: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}



#project-cashless-payment {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

